In [2]:
import pandas as pd

## Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

* Create a Jupyter Notebook file called `data_engineering.ipynb` and use this to complete all of your Data Engineering tasks.

* Use Pandas to read in the measurement and station CSV files as DataFrames.

* Inspect the data for NaNs and missing values. You must decide what to do with this data.

* Save your cleaned CSV files with the prefix `clean_`.

In [3]:
hawaii_measure= "C:\\Users\\ushuel00\\Downloads\\UCI\\UCIRV201801DATA3-Class-Repository-DATA\\02-Homework\\11-Adv-Data-Storage-Retrieval\\Instructions\\Resources\\hawaii_measurements.csv"
hawaii_stations = "C:\\Users\\ushuel00\\Downloads\\UCI\\UCIRV201801DATA3-Class-Repository-DATA\\02-Homework\\11-Adv-Data-Storage-Retrieval\\Instructions\\Resources\\hawaii_stations.csv"

In [4]:
measure = pd.read_csv(hawaii_measure).dropna(how = 'any')
measure.head()
measure.dtypes
measure=measure.replace({"":0})
measure["prcp"]=pd.to_numeric(measure["prcp"])
measure["tobs"]=pd.to_numeric(measure["tobs"])
measure.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [5]:
stations = pd.read_csv(hawaii_stations).dropna(how='any')
stations.head()
stations.dtypes
stations=stations.replace({"":0})
stations["latitude"]=pd.to_numeric(stations["latitude"])
stations["longitude"]=pd.to_numeric(stations["longitude"])
stations["elevation"]=pd.to_numeric(stations["elevation"])
stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
measure.to_csv("C:\\Users\\ushuel00\\Downloads\\UCI\\UCIRV201801DATA3-Class-Repository-DATA\\02-Homework\\11-Adv-Data-Storage-Retrieval\\Instructions\\Resources\\clean_hawaii_measurements.csv", index=False, header=True)
stations.to_csv("C:\\Users\\ushuel00\\Downloads\\UCI\\UCIRV201801DATA3-Class-Repository-DATA\\02-Homework\\11-Adv-Data-Storage-Retrieval\\Instructions\\Resources\\clean_hawaii_stations.csv", index=False, header=True)

In [7]:
clean_measurements = ("C:\\Users\\ushuel00\\Downloads\\UCI\\UCIRV201801DATA3-Class-Repository-DATA\\02-Homework\\11-Adv-Data-Storage-Retrieval\\Instructions\\Resources\\clean_hawaii_measurements.csv")
clean_stations = ("C:\\Users\\ushuel00\\Downloads\\UCI\\UCIRV201801DATA3-Class-Repository-DATA\\02-Homework\\11-Adv-Data-Storage-Retrieval\\Instructions\\Resources\\clean_hawaii_stations.csv")

In [8]:
clean_measurements = pd.read_csv(clean_measurements)
clean_stations = pd.read_csv(clean_stations)

## Step 2 - Database Engineering

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all of your Database Engineering work.

* Use Pandas to read your cleaned measurements and stations CSV data.

* Use the `engine` and connection string to create a database called `hawaii.sqlite`.

* Use `declarative_base` and create ORM classes for each table.

  * You will need a class for `Measurement` and for `Station`.

  * Make sure to define your primary keys.

* Once you have your ORM classes defined, create the tables in the database using `create_all`.

In [19]:
from sqlalchemy import create_engine
import pymysql 
pymysql.install_as_MySQLdb()

In [28]:
clean_measurements.to_sql(name="clean_measurements", con=conn, if_exists='append')
clean_stations.to_sql(name="clean_stations", con=conn, if_exists='append')

In [29]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float
engine = create_engine("mysql://root:elfie0@localhost:3306/homework")
conn = engine.connect()

from sqlalchemy.orm import Session
session = Session(bind=engine)

In [31]:
conn = engine.connect()

clean_measurements.to_sql(name="clean_measurements", con=conn, if_exists='append')
clean_stations.to_sql(name="clean_stations", con=conn, if_exists='append')

In [12]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
Base.metadata.create_all(engine)
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [13]:
class measurements(Base):
    __tablename__= "measurements"
    id = Column(Integer, primary_key = True)
    station = Column(String(225))
    dates = Column(String(225))
    prcp = Column(String(225))
    tobs = Column(Integer)

In [14]:
class stations(Base):
    __tablename__ = "clean_stations"
    id = Column(Integer, primary_key = True)
    station = Column (String(225)) 
    name = Column(String(225))
    latitude = Column(String(225))
    longitude = Column(String(225))
    elevation = Column(String(225))

In [18]:
from sqlalchemy.orm import Session
session = Session(bind=engine)
session.add(measurements)
session.add(stations)
session.commit()

UnmappedInstanceError: Class 'sqlalchemy.ext.declarative.api.DeclarativeMeta' is not mapped; was a class (__main__.measurements) supplied where an instance was required?